body {
  height: 100vh;
  background: url('../asset/img/background_login1.jpg') no-repeat center;
  background-size: cover;
}

.my-container {
  margin: 0 auto;
  margin-top: 25px;
  max-width: 1280px;
  width: 100%;
}
