body {
  height: 100vh;
  background: url('../asset/img/background_login1.jpg') no-repeat center;
  background-size: cover;
}

.my-container {
  margin: 0 auto;
  margin-top: 25px;
  max-width: 1280px;
  width: 100%;
  height: 100%;
}

.box-avatar{
  height: 450px;
}

.box-name {
  height: 75px;
}

.box-status{
  height: 450px;
}

.box-log{
  height: 360px;
}

.center-icon {
  display: flex;
  justify-content: center;
}



.title-box {
  height: 60px;
  display: flex;
  align-items: center;
}

.title {
  margin-left: 20px;
  font-family: "fredoka one";
}

.overflow {
  overflow: auto;
}

h3, h4 {
  margin: 0px;
}

h4 {
  margin-left: 20px;
  display: inline-block;
}

.box-name p {
  margin: 0px;
}

.panda_image {
  position: absolute;
  left: 25%;
  top: 150%;
}

.panda_image_drink {
  position: absolute;
  left: 13%;
  top: 150%;
}

.relative {
  position: relative;
}

.paytone-one {
  font-family: "Paytone one"
}

.petname {
  font-family: "luckiest guy";
}

progress[value] {
  /* Reset the default appearance */
  -webkit-appearance: none;
   appearance: none;

  width: 120%;
  height: 25px;
}
